.logoContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.logo {
    background: url('bc_logo.png');
    width: 300px;
}

.comingSoon {
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 1.4em;
    color: #5F5F5F;
}

@media only screen and (max-width: 768px) {
    .logo {
        background: url('bc_logo.png');
        width: 75%;
    }

    .comingSoon {
        font-size: 1.8em;
    }
}
